.wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 231, 231);
}

div {
    display: flex;
}

.mobile-screen {
    width: 500px;
    flex-direction: column;
    background-color: rgb(240, 234, 225);
}
.text-blue {
    color: blue;
    text-align: center;
    margin: 10px;
}
.text-grey {
    flex-direction: column;
    color: rgb(13, 9, 235);
    text-align: justify;
    margin-left:  5px;
    font-size: x-large;
}

.ingredients {
    flex-direction: column;
    color: rgb(13, 9, 235);
    text-align: justify;
    margin-left:  5px;
    font-size: x-large;
}

.contents {
    flex-direction: column;
    color: brown;
    text-align: center;
    margin-left:  5px;
    font-size: xx-large;
}
.text-center{
    text-align: center;  
}