.wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 231, 231);
}

div {
    display: flex;
}

.mobile-screen {
    width: 500px;
    flex-direction: column;
    background-color: rgb(240, 234, 225);
}
.text-blue {
    color: blue;
    text-align: center;
    margin: 10px;
}
.text-grey {
    color: grey;
    text-align: center;
    margin-left:  5px;
}